.products {
  .section-1 {
    @include shadow;
    padding: 24px 17px;
    border-radius: 10px;
    border: 1px solid $gray-300;
    @include flex-center-between;

    .left {
      @include flex-gap($gap: 10px);
    }
    .right {
      @include flex-gap($gap: 10px);
    }
  }
  .section-2 {
    @include shadow;
    padding: 24px 17px;
    border-radius: 10px;
    @include flex-gap($gap: 20px);
  }

  
}
